[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipywidgets = "*"
plotly = "*"
scipy = "*"
missingno = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
